/*Modo escuro*/

.dark #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px blue;
    width: 50%;
    height: 100%;
    background: linear-gradient(rgba(32, 31, 31, 0.9), rgba(32, 32, 32, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    color: #1C486F;
    transition: 0.3s ease;
  }
  
  .dark .cadastro {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background-color: #162533;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(34, 0, 224, 0.1);
    border-top-right-radius: 100px;
    border-color: #1c486f;
    align-items: center;
  }
  
  .dark #box-img {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #162533;
    align-items: center;
    justify-content: center;
  }
  
  .dark header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #162533;
    width: 100%;
    height: 90px;
  }
  
  .dark .campo input {
    width: 650px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    background-color: #0b131b;
  }
  
  .dark input::placeholder {
    color: #ccc;
  }
  
  .dark #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(170, 255, 0);
    width: 570%;
    height: 99.8%;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    color: #e7eff6;
  }
  
  /*  Termina modo escuro */
  
  
  
  
  
  
  body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  
  
  /*barra de navegação*/
  header {
    display: flex;
    align-items: center;
    background-color: #1C486F;
    height: 90px;
  }
  
  
  .nav {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 100vw;
  }
  
  .logo {
    margin-left: 50px;
    width: 120px;
    height: 60px;
  }
  
  .nav-list {
    display: flex;
    gap: 60px;
    margin-left: 20px;
    list-style: none;
    margin-top: 20px;
  }
  
  .nav-list a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-list a:hover {
    color: #ffe159;
    text-decoration: none;
  }
  
  .area-acessibilidade {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    width: 300px;
  }
  
  .btn-accessibilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: none;
    background: none;
  }
  
  .img-accessibilidade {
    width: 50px;
    height: 50px;
    opacity: 50%;
    transition: 0.1s ease-out;
  }
  
  .img-accessibilidade:hover {
    width: 45px;
    height: 45px;
    opacity: 100%;
    transition: 0.2s ease-in;
  }
  
  .hamburger {
    display: none;
    background: none;
    cursor: pointer;
  }
  
  .img-hamburger{
    width: 30px;
    height: 30px;
  }
  
  
  /*Fim barra navegação*/
  
  
  
  
  
  #box-img-superior-esquerdo {
    display: flex;
    align-items: center;
  }
  
  #box-img-superior-esquerdo img {
    height: 60px;
    margin-right: 20px;
  }
  
  #box-img-superior-direito {
    display: flex;
    flex-direction: row;
    background-color: #1c486f;
  }
  
  #box-img-superior-direito img {
    height: 60px;
    margin-left: 20px;
    background-color: #1c486f;
  }
  
  
  #Menu-hamburguer {
    display: none;
  }
  
  
  
  /*Começo Menu flutuante*/
  
  .botoes-acessibilidade-menu {
    display: none;
  }
  
  .botoes-acessibilidade-menu {
    display: none;
  }
  
  .botoes-acessibilidade-menu.active {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 150px;
    pointer-events: fill;
  }
  
  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 1%;
    top: 12%;
    width: 350px;
    height: 240px;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }
  
  .botoes-acessibilidade-menu.active {
      display: flex;
      flex-direction: row;
      width: 150px;
      height: 150px;
      gap: 20px;
      pointer-events: fill;
  }
  
  /*Fim Menu flutuante*/
  
  
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    background-position: center;
    color: #1c486f;
  }
  
  #box-img {
    display: flex;
    width: 50%;
    background-color: #1c486f;
    align-items: center;
    justify-content: center;  
  }
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 43.6vw;
  }
  
  .cadastro {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(34, 0, 224, 0.1);
    border-top-right-radius: 100px;
    border-color: #1c486f;
    align-items: center;
  }
  
  .cadastro h1 {
    text-align: center;
    margin-bottom: 20px;
  
  }
  
  .campo {
    margin-bottom: 30px;
    border-color: #1C486F;
  }
  
  
  .campo input {
    width: 650px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #007bff;
  }
  
  .botoes {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  .botoes button {
    padding: 10px 20px;
    background-color: #0e5694;
    color: #f0e9e9;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .botoes button:hover {
    background-color: #e98c21;
  }
  
  .botoes .voltar-button {
    background-color: #FCBD5E;
  }
  
  .botoes .voltar-button:hover {
    background-color: #2980b9;
  }
  
  .content {
    padding: 20px;
    background-color: #fff;
    color: #090909;
  }
  
  
  @media only screen and (max-width: 800px) {
    
    .dark .nav-list {
      display: none;
    }
    
    
    .dark .hamburger {
      display: block;
      padding: 5px;
      border: none;
  }
    .dark  .img-hamburger{
      width: 30px;
      height: 30px;
  }
  
    
   .dark  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }
  
  .dark .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 69px;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }
  
  .dark .nav-list a {
    font-size: 20px;
  }
  
   .dark .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  
  .dark .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  
   .dark .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  
   .dark .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }
  .dark .nav.active .nav-list {
    clip-path: circle(700px at 100% -15%);
  }
  
   .dark .nav.active .nav-list a {
    opacity: 1;
  }
  
  /*Fim Hamburger*/
  
  .dark .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right:390px;
    top: 10%;
    width: 350px;
    height: 200px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }
  
  
  
   .dark  main {
  display: flex;
  flex-direction: row;
  height: 700px;
  border: #007bff solid;
  }
  
   .dark #box-img {
  display: none;
  }
  
  .dark #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1100px;
    background-position: center;
    color: #f1f4f6;
  
    margin-top:30px;
  }
  
  
  .cadastro {
    display: flex;
    flex-direction: column;
    background-color: #f8f2f2;
    padding: 30px;
    width: 650px;
    height: 30;
    box-shadow: 0 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 70%;
    border-color: #1c486f;
    align-items: center;
    
  }
  
  
  
  
  .dark.campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }
  
   .dark.campo input {
    width: 550px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #007bff;
  
  }
  
  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*termina modo escuro*/
  
    .nav-list {
      display: none;
    }
  
    /*Começo Hamburger*/
      .hamburger {
          display: block;
          padding: 5px;
          border: none;
      }
      .img-hamburger{
          width: 30px;
          height: 30px;
      }
     
  
      .nav-active .hamburger {
          position: relative;
          top: 26px;
          right: 18px;
      }
  
  
      .nav-list {
          position: absolute;
          display: flex;
          right: 0px;
          top: 69px;
          width: 200px;
          height: 350px;
          background: #1C486F;
          clip-path: circle(100px at 100% -55%);
          transition: 0.5s ease-in-out;
          padding: 10%;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          pointer-events: none;
          border-bottom-left-radius: 25px;
      }
  
      .nav-list a {
          font-size: 20px;
      }
  
      .nav-list li:nth-child(1) a {
          transition: 0.5s 0.2s;
      }
  
      .nav-list li:nth-child(2) a {
          transition: 0.5s 0.4s;
      }
  
      .nav-list li:nth-child(3) a {
          transition: 0.5s 0.6s;
      }
  
      .nav-list li:nth-child(4) a {
          transition: 0.5s 0.8s;
      }
  
      .nav.active .nav-list {
          clip-path: circle(700px at 100% -15%);
      }
  
      .nav.active .nav-list a {
          opacity: 1;
      }
  
      /*Fim Hamburger*/
  
      .menu-acessibilidade.active {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right:390px;
        top: 10%;
        width: 350px;
        height: 200px;
        background: #1c486f;
        border-radius: 5px;
        transition: 0.2s ease-in;
        pointer-events: none;
      }
  
  
  
    main {
      display: flex;
      flex-direction: row;
      height: 700px;
    }
  
    #box-img {
      display: none;
    }
  
    #box-cadastro {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 1100px;
      background-position: center;
      color: #1c486f;
    }
  
  
  
  
  
  
  
    .cadastro {
      display: flex;
      flex-direction: column;
      background-color: #f8f2f2;
      padding: 30px;
      width: 650px;
      height: 30;
      box-shadow: 0 2px 5px rgba(190, 189, 196, 0.1);
      border-top-right-radius: 100px;
      margin-top: 70%;
      border-color: #1c486f;
      align-items: center;
      
    }
  
    
    .campo {
      margin-bottom: 20px;
      border-color: #1C486F;
    }
    
    .campo input {
      width: 550px;
      border: 1px solid #ccc;
      border-radius: 50px;
      border-color: #1C486F;
      color: #007bff;
    
    }
    
    .botoes {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
    }
    
    
    .botoes button:hover {
      background-color: #16166e;
    }
    
    .botoes .voltar-button {
      background-color: #FCBD5E;
    }
    
    .botoes .voltar-button:hover {
      background-color: #e92121;
    }
  
  
  }
  
  
  
  
  
  @media only screen and (max-width: 428px) {
  
  
    /*começa modo escuro*/
    
    .dark .nav-list {
      display: none;
    }
  
    /*Começo Hamburger*/
       .dark .hamburger {
          display: block;
          padding: 5px;
          border: none;
      }
      .dark .img-hamburger{
          width: 30px;
          height: 30px;
      }
     
  
      .dark .nav-active .hamburger {
          position: relative;
          top: 26px;
          right: 18px;
      }
  
  
      .dark .nav-list {
          position: absolute;
          display: flex;
          right: 0px;
          top: 69px;
          width: 200px;
          height: 350px;
          background: #1C486F;
          clip-path: circle(100px at 100% -55%);
          transition: 0.5s ease-in-out;
          padding: 10%;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          pointer-events: none;
          border-bottom-left-radius: 25px;
      }
  
      .dark .nav-list a {
          font-size: 20px;
      }
  
      .dark .nav-list li:nth-child(1) a {
          transition: 0.5s 0.2s;
      }
  
      .dark .nav-list li:nth-child(2) a {
          transition: 0.5s 0.4s;
      }
  
      .dark .nav-list li:nth-child(3) a {
          transition: 0.5s 0.6s;
      }
  
       .dark .nav-list li:nth-child(4) a {
          transition: 0.5s 0.8s;
      }
  
       .dark .nav.active .nav-list {
          clip-path: circle(550px at 90% -15%);
      }
  
      .dark .nav.active .nav-list a {
          opacity: 1;
      }
  
      /*Fim Hamburger*/
  
      .dark .menu-acessibilidade.active {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 5.2%;
        top: 80%;
        width: 350px;
        height: 240px;
        background: #1c486f;
        border-radius: 5px;
        transition: 0.2s ease-in;
        pointer-events: none;
      }
  
  
  
     .dark main {
      display: flex;
      flex-direction: row;
      height: 700px;
     
    }
  
    .dark #box-img {
      display: none;
    }
    .dark #box-cadastro{
      color: #ccc;
    }
  
  
     .dark #box-cadastro {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 784px;
      background-position: center;
      color: #1c486f;
      
    }
  
  
  
  
  
  
  
  
     .dark .cadastro {
      display: flex;
      flex-direction: column;
      background-color: hsl(300, 17%, 95%);
      padding: 30px;
      width: 300px;
      height: 350px;
      box-shadow: 0 2px 5px rgba(190, 189, 196, 0.1);
      border-top-right-radius: 100px;
      margin-top: 80%;
      align-items: center;
    }
  
    
  
  
  
  
  
  
  
  
  
  
  
    .darkb .cadastro h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #eceaea;
    
    }
  
  
  
  
  
    .dark .campo {
      margin-bottom: 20px;
      border-color: #1C486F;
    }
    
     .dark .campo input {
      width: 250px;
      border: 1px solid #ccc;
      border-radius: 50px;
      border-color: #1C486F;
      color: #d9dadc;
    
    }
    
    .dark .botoes {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
    }
    
    
    .botoes button:hover {
      background-color: #16166e;
    }
    
    .botoes .voltar-button {
      background-color: #FCBD5E;
    }
    
    .botoes .voltar-button:hover {
      background-color: #e92121;
    }
  
  /*fim do modo Escuro*/
  
  
  
    .nav-list {
      display: none;
    }
  
    /*Começo Hamburger*/
      .hamburger {
          display: block;
          padding: 5px;
          border: none;
      }
      .img-hamburger{
          width: 30px;
          height: 30px;
      }
     
  
      .nav-active .hamburger {
          position: relative;
          top: 26px;
          right: 18px;
      }
  
  
      .nav-list {
          position: absolute;
          display: flex;
          right: 0px;
          top: 69px;
          width: 200px;
          height: 350px;
          background: #1C486F;
          clip-path: circle(100px at 100% -55%);
          transition: 0.5s ease-in-out;
          padding: 10%;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          pointer-events: none;
          border-bottom-left-radius: 25px;
      }
  
      .nav-list a {
          font-size: 20px;
      }
  
      .nav-list li:nth-child(1) a {
          transition: 0.5s 0.2s;
      }
  
      .nav-list li:nth-child(2) a {
          transition: 0.5s 0.4s;
      }
  
      .nav-list li:nth-child(3) a {
          transition: 0.5s 0.6s;
      }
  
      .nav-list li:nth-child(4) a {
          transition: 0.5s 0.8s;
      }
  
      .nav.active .nav-list {
          clip-path: circle(550px at 90% -15%);
      }
  
      .nav.active .nav-list a {
          opacity: 1;
      }
  
      /*Fim Hamburger*/
  
      .menu-acessibilidade.active {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 5.2%;
        top: 80%;
        width: 350px;
        height: 240px;
        background: #1c486f;
        border-radius: 5px;
        transition: 0.2s ease-in;
        pointer-events: none;
      }
  
  
  
    main {
      display: flex;
      flex-direction: row;
  
      height: 600px;
     
    }
  
    #box-img {
      display: none;
    }
  
  
    #box-cadastro {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 784px;
      background-position: center;
      color: #1c486f;
      
    }
  
  
  
  
  
  
  
  
    .cadastro {
      display: flex;
      flex-direction: column;
      background-color: hsl(300, 17%, 95%);
      padding: 30px;
      width: 300px;
      height: 350px;
      box-shadow: 0 2px 5px rgba(190, 189, 196, 0.1);
      border-top-right-radius: 100px;
      margin-top: 80%;
      align-items: center;
    }
  
    
    .campo {
      margin-bottom: 20px;
      border-color: #1C486F;
    }
    
    .campo input {
      width: 250px;
      border: 1px solid #ccc;
      border-radius: 50px;
      border-color: #1C486F;
      color: #007bff;
    
    }
    
    .botoes {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
    }
    
    
    .botoes button:hover {
      background-color: #16166e;
    }
    
    .botoes .voltar-button {
      background-color: #FCBD5E;
    }
    
    .botoes .voltar-button:hover {
      background-color: #e92121;
    }
  
  
  }