* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #1C486F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-bemVindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    display: flex;
    width: 700px;
    height: 200px;
}

.box-imagem {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.box-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-texto>p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.title-bemVindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.title-bemVindo>p>span {
    font-weight: 900;
    color: white;
    background-color: #1C486F;
}

.title-bemVindo>p #span-seguro {
    color: #FFBD59;
}

.box-imagem>img {
    height: 100%;
}


/*Responsividade */
@media (max-width: 768px) {

    /* telas menores que 768px (tablets and mobiles) */
    .sessao-nav {
        height: 70px;
    }

    .content {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .box-imagem,
    .box-texto {
        width: 100%;
        height: auto;
    }

    .box-texto>p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* tablets  */
  @media (min-width: 768px) and (max-width: 992px) {
    /* telas entre 768px and 992px (tablets) */
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* telas entre 992px and 1200px (desktop) */
}

@media (min-width: 1200px) {
    /* telas maiores que 1200px (large desktops) */
}