* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
  }



/*Modo escuro*/

.dark main {
  background-color: #000000;
}

.dark .cadastro {
  background-color: #15131b;
  box-shadow: 0 2px 5px rgba(34, 0, 224, 0.1);
  border-color: #1c486f;
}

.dark #box-img {
  background-color: #15131b;
}

.dark header {
  background-color: #15131b;
}

.dark .campo input {
  border: 1px solid #ccc;
  border-color: #1C486F;
  background-color: #0b131b;
  color: #ffffff;
}

.dark input::placeholder {
  color: #ffffff;
}


.dark #box-cadastro {
  background: linear-gradient(rgb(19, 41, 61), rgba(0, 0, 0, 0.9)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
}

.dark .nav-list {
  background: #15131b;
}

.dark .menu-acessibilidade.active {
  background: #15131b;
}

/*  Termina modo escuro */


main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 43.59vw;
}


body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}


/*barra de navegação*/
header {
  display: flex;
  align-items: center;
  background-color: #1C486F;
  height: 90px;
}


.nav {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  width: 100vw;
}

.logo {
  margin-left: 50px;
  width: 120px;
  height: 60px;
}

.nav-list {
  display: flex;
  gap: 60px;
  margin-left: 20px;
  list-style: none;
  margin-top: 20px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.nav-list a:hover {
  color: #ffe159;
  text-decoration: none;
}

.area-acessibilidade {
  gap: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  width: 300px;
}

.btn-accessibilidade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: none;
  background: none;
}

.img-accessibilidade {
  width: 50px;
  height: 50px;
  opacity: 50%;
  transition: 0.1s ease-out;
}

.img-accessibilidade:hover {
  width: 45px;
  height: 45px;
  opacity: 100%;
  transition: 0.2s ease-in;
}

.hamburger {
  display: none;
  background: none;
  cursor: pointer;
}

.img-hamburger {
  width: 30px;
  height: 30px;
}


/*Fim barra navegação*/





#box-img-superior-esquerdo {
  display: flex;
  align-items: center;
}

#box-img-superior-esquerdo img {
  height: 60px;
  margin-right: 20px;
}

#box-img-superior-direito {
  display: flex;
  flex-direction: row;
  background-color: #1c486f;
}

#box-img-superior-direito img {
  height: 60px;
  margin-left: 20px;
  background-color: #1c486f;
}


#Menu-hamburguer {
  display: none;
}



/*Começo Menu flutuante*/

.botoes-acessibilidade-menu {
  display: none;
}

.botoes-acessibilidade-menu {
  display: none;
}

.botoes-acessibilidade-menu.active {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  pointer-events: fill;
}

.menu-acessibilidade.active {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 1%;
  top: 12%;
  width: 350px;
  height: 240px;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.2s ease-in;
  pointer-events: none;
}

.botoes-acessibilidade-menu.active {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  gap: 20px;
  pointer-events: fill;
}

/*Fim Menu flutuante*/



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#box-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  background-position: center;
  color: #1c486f;
}

#box-img {
  display: flex;
  width: 50%;
  background-color: #1c486f;
  align-items: center;
  justify-content: center;
}

.cadastro {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(34, 0, 224, 0.1);
  border-top-right-radius: 100px;
  border-color: #1c486f;
  align-items: center;
}

.cadastro h1 {
  text-align: center;
  margin-bottom: 20px;

}

.campo {
  margin-bottom: 30px;
  border-color: #1C486F;
}


.campo input {
  width: 650px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  border-color: #1C486F;
  color: #007bff;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-align: center;
  margin-top: 40px;
}

.botoes button {
  padding: 10px 20px;
  background-color: #0e5694;
  color: #f0e9e9;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.botoes button:hover {
  background-color: #e98c21;
}

.botoes .voltar-button {
  background-color: #FCBD5E;
}

.botoes .voltar-button:hover {
  background-color: #2980b9;
}

.content {
  padding: 20px;
  background-color: #fff;
  color: #090909;
}

@media only screen and (max-width: 1280px){

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55.4vw;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    background-position: center;
    color: #1c486f;
  }
  
  #box-img {
    display: flex;
    width: 50%;
    background-color: #1c486f;
    align-items: center;
    justify-content: center;
  }

  #editar-box-img{
    width: 80%;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(34, 0, 224, 0.1);
    border-top-right-radius: 100px;
    border-color: #1c486f;
    align-items: center;
  }

  .cadastro h1 {
    text-align: center;
    margin-bottom: 20px;
  
  }
  
  .campo {
    margin-bottom: 30px;
    border-color: #1C486F;
  }
  
  
  .campo input {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #007bff;
  }
  
  .botoes {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  .botoes button {
    padding: 10px 20px;
    background-color: #0e5694;
    color: #f0e9e9;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .botoes button:hover {
    background-color: #e98c21;
  }
  
  .botoes .voltar-button {
    background-color: #FCBD5E;
  }
  
  .botoes .voltar-button:hover {
    background-color: #2980b9;
  }
  
  .content {
    padding: 20px;
    background-color: #fff;
    color: #090909;
  }
}


@media only screen and (max-width: 884px) {

  .dark #box-img {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 69px;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(800px at 100% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/



  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 60%;
    top: 10%;
    width: 350px;
    height: 200px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    height: 134.5vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    color: #1c486f;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    width: 850px;
    height: 600px;
    border-top-right-radius: 100px;
    margin-top: 30%;
    border-color: #1c486f;
    align-items: center;
    justify-content: center;
  }


  .campo {
    margin-bottom: 2rem;
    border-color: #1C486F;
  }

  .campo input {
    width: 40rem;
    height: 1.5rem;
    border-radius: 2rem;
    border-color: #1C486F;
    color: #000000;
  }

  .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
  }

  .voltar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .cadastrar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .botoes button:hover {
    background-color: #16166e;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}


@media only screen and (max-width: 834px) {

  .dark #box-img {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 69px;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(700px at 100% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/



  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 390px;
    top: 10%;
    width: 350px;
    height: 200px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    height: 128vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    color: #1c486f;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    width: 650px;
    height: 600px;
    border-top-right-radius: 100px;
    margin-top: 30%;
    border-color: #1c486f;
    align-items: center;
    justify-content: center;
  }


  .campo {
    margin-bottom: 2rem;
    border-color: #1C486F;
  }

  .campo input {
    width: 35rem;
    height: 1.5rem;
    border-radius: 2rem;
    border-color: #1C486F;
    color: #000000;
  }

  .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
  }

  .voltar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .cadastrar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .botoes button:hover {
    background-color: #16166e;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}


@media only screen and (max-width: 800px) {

  .dark #box-img {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 69px;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(700px at 100% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/



  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 390px;
    top: 10%;
    width: 350px;
    height: 200px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1155px;
    background-position: center;
    color: #1c486f;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    width: 650px;
    height: 600px;
    border-top-right-radius: 100px;
    margin-top: 50%;
    border-color: #1c486f;
    align-items: center;
    justify-content: center;
  }


  .campo {
    margin-bottom: 2rem;
    border-color: #1C486F;
  }

  .campo input {
    width: 35rem;
    height: 1.5rem;
    border-radius: 2rem;
    border-color: #1C486F;
    color: #000000;
  }

  .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
  }

  .voltar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .cadastrar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .botoes button:hover {
    background-color: #16166e;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}

@media only screen and (max-width: 768px) {

  .dark #box-img {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 69px;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(700px at 100% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/



  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 390px;
    top: 10%;
    width: 350px;
    height: 200px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    height: 116.9vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    color: #1c486f;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    width: 650px;
    height: 600px;
    border-top-right-radius: 100px;
    margin-top: 20%;
    border-color: #1c486f;
    align-items: center;
    justify-content: center;
  }


  .campo {
    margin-bottom: 2rem;
    border-color: #1C486F;
  }

  .campo input {
    width: 35rem;
    height: 1.5rem;
    border-radius: 2rem;
    border-color: #1C486F;
    color: #000000;
  }

  .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
  }

  .voltar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .cadastrar-button{
    width: 10rem;
    height: 2.5rem;
  }

  .botoes button:hover {
    background-color: #16166e;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}



@media only screen and (max-width: 428px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 69px;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 9%;
    top: 65%;
    width: 350px;
    height: 240px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height: 183vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 60%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 60%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    width:350px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}

@media only screen and (max-width: 414px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 8%;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 9%;
    top: 65%;
    width: 350px;
    height: 180px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height:191.8vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 70%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 40%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    width:320px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}

@media only screen and (max-width: 393px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 8%;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 6%;
    top: 65%;
    width: 350px;
    height: 180px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height:185.5vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 70%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 40%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    width:320px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}

@media only screen and (max-width: 390px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 8%;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 6.5%;
    top: 65%;
    width: 350px;
    height: 180px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height:199vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 70%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 40%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    width:320px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}

@media only screen and (max-width: 375px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 8%;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 4.5%;
    top: 65%;
    width: 350px;
    height: 180px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height:199vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 70%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 40%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    width:320px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}


@media only screen and (max-width: 360px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 8%;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 4%;
    top: 67%;
    width: 350px;
    height: 180px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height:200vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 70%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 40%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    width:320px;
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}

@media only screen and (max-width: 320px) {

  .nav-list {
    display: none;
  }

  /*Começo Hamburger*/
  .hamburger {
    display: block;
    padding: 5px;
    border: none;
  }

  .img-hamburger {
    width: 30px;
    height: 30px;
  }


  .nav-active .hamburger {
    position: relative;
    top: 26px;
    right: 18px;
  }


  .nav-list {
    position: absolute;
    display: flex;
    right: 0px;
    top: 11%;
    width: 200px;
    height: 350px;
    background: #1C486F;
    clip-path: circle(100px at 100% -55%);
    transition: 0.5s ease-in-out;
    padding: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pointer-events: none;
    border-bottom-left-radius: 25px;
  }

  .nav-list a {
    font-size: 20px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  .nav.active .nav-list {
    clip-path: circle(600px at 90% -15%);
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  /*Fim Hamburger*/

  .menu-acessibilidade.active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 1.5%;
    top: 65%;
    width: 350px;
    height: 180px;
    background: #1c486f;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    height: 166vw;
  }

  #box-img {
    display: none;
  }

  #box-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(252, 199, 119, 0.9), rgba(252, 199, 119, 0.8)), url("/src/assets/imagem_cadastro/2.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .cadastro {
    display: flex;
    height: 70%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 5px rgba(190, 189, 196, 0.1);
    border-top-right-radius: 100px;
    margin-top: 28%;
  }


  .campo {
    margin-bottom: 20px;
    border-color: #1C486F;
  }

  .campo input {
    border: 1px solid #ccc;
    border-radius: 50px;
    border-color: #1C486F;
    color: #191919;
  }

  .botoes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }


  .botoes button:hover {
    background-color: #252548;
  }

  .botoes .voltar-button {
    background-color: #FCBD5E;
  }

  .botoes .voltar-button:hover {
    background-color: #e92121;
  }

}