@media only screen and (max-width: 428px){
    body {
        display: flex;
        flex-direction: column;
        height: 1920px;
    }
    input {
        border-radius: 100px;

    }
    h1 {
        text-align: center;
        font-size: 27px;
        color: rgb(28, 72, 111); 
    }
    a {
        text-decoration: none;
        color: rgb(28, 72, 111);
    }
    #areainput {

        display: flex;
        border-top-right-radius: 50px;
        flex-direction:column;
        background-color: azure;
        align-items: center;
        height: 300px;
    }
    #espaco-imagem {
        border: 1px solid red;
        height: 300px;
        width: 100px;

    }
    .campo {
        border-color:rgb(28, 72, 111);
        height: 28px;
        width: 220px;

    }
}