* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1C486F;
    width: 100vw;
    height: 100vh;
}

.menu-superior {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    background-color: #1C486F;
}

.logo-img {
    width: 200px;
    height: 70px;
}

.menu-superior .menu-navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}

.menu-superior li {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

.menu-superior li a {
    color: white;
    font-size: 1.5rem;
}

.menu-togle {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 20px;
}



.banner-top {
    width: 100vw;
    height: 70vh;
    background-image: url(../Imagens_projeto/6.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .banner-bck{
        width: 100%;
        height: 100%;
    } */

.banner-content {
    display: flex;
    flex-direction: row;
}



.menu-content {
    width: 100vw;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn-menu {
    border: none;
    background-color: #1C486F;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    height: 200px;
}

.btn-menu:hover {
    border-bottom: 3px solid #FFBD59;
    background-color: #1C486F;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}






.section-bemVindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    display: flex;
    width: 1000px;
    height: 300px;
}

.box-imagem {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.box-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-texto>p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}


.box-texto>p>span {
    font-weight: 900;
}


.box-imagem>img {
    height: 100%;
}

.sec-destaques {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.destaques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80vw;
    height: 100vh;

}

.titulo-destaque {
    width: 100%;
    height: 3rem;
    background-color: #E8C25F;
    display: flex;
    justify-content: center;
    align-items: center
}

.destaques>h1 {
    font-size: 5rem;
}

.destaque-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.img-destaque {
    width: 100%;
    height: 80%;
    background-color: black;
}

.texto-destaque {
    width: 100%;
    height: 40%;
    background-color: #d3d3d3;
}



@media(max-width: 768px) {

    .um,
    .dois,
    .tres {
        width: 80%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-superior.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(28, 72, 111, 1);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-superior .menu-navegacao{
        display: none;
    }

   .logo-img {
        display: none;
    }

    .menu-superior.on .menu-togle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .menu-superior.on .menu-navegacao {
        display: block;
    }

    .menu-superior.on .menu-navegacao li {
        display: flex;
        flex-direction: column;
    }

    .menu-superior.on .menu-togle .dois {
        opacity: 0;

    }

    .menu-superior.on .menu-togle .um {
        transform: rotate(45deg) translate(5px, -8px);
    }

    .menu-superior.on .menu-togle .tres {
        transform: rotate(-45deg) translate(20px, -6px);
    }


    .content {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 300px;
        align-items: center


    }


}