/*Web*/

/*------Texto------*/
/*Barra de navegação superior*/
.nav-list a {
    font-size: 20px;
}

/*Maior parte dos textos da pagina*/
p {
    font-size: 25px;
    font-weight: 500;
}

.titulo-acordeon-wb {
    font-size: 20px;
}
/*------Texto-------*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Comerço barra navegação*/
a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C486F;
    width: 100%;
    height: 90px;
    padding-inline: 16px;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 100vw;
}

.logo {
    width: 120px;
    height: 60px;
}

.nav-list {
    display: flex;
    gap: 60px;
    margin-left: 20px;
    list-style: none;
    margin-top: 20px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    color: #ffe159;
    text-decoration: none;
}

.area-acessibilidade {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    width: 300px;
}

.btn-accessibilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: none;
    background: none;
}

.img-accessibilidade {
    width: 50px;
    height: 50px;
    opacity: 50%;
    transition: 0.1s ease-out;
}

.img-accessibilidade:hover {
    width: 45px;
    height: 45px;
    opacity: 100%;
    transition: 0.2s ease-in;

}

.hamburger {
    display: none;
    background: none;
    cursor: pointer;
}

/*Fim barra navegação*/

/*Começo banner superior*/
.banner {
    display: flex;
    border: red solid;
    width: 100%;
    height: 670px;
    align-items: center;
    justify-content: center;
}

#background-banner {}

.seja-bem-vindo-banner {
    border: rgb(128, 255, 0) solid;
}

.logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(128, 255, 0) solid;
    width: 50%;
}


.texto-banner {
    border: rgb(0, 255, 221) solid;
    text-align: center;
}

div {
    gap: 5px;
    display: flex;
    justify-content: center;
}

/*Fim Banner superior*/

/*Começo botões web*/
#acordeon {
    display: none;
}

#web-menu-acordeon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: 100vw;
    background-color: #1C486F;
}

.botao-acordeon-wb {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    height: 150px;
    align-items: center;
    background: #1C486F;
    margin-bottom: 5px;
    border: none;
}

.fundo-icone-wb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBD59;
    width: 60%;
    height: 50%;
    transition: 0.6s;
}

.fundo-icone-wb:hover {
    background-color: #ffe159;
    transition: 0.6ms;
}

.fundo-triangulo-icone-wb {
    width: 0;
    height: 0;
    border-top: 30px solid #FFBD59;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
}

.icone-acordeon-wb {
    width: 60px;
    height: 60px;
}

.titulo-acordeon-wb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    color: white;
}
/*Fim botões web*/

/*Começo menu expandido*/
.area-expandida {
    display: none;
}
.area-expandida-2 {
    display: none;
}

.area-expandida-3 {
    display: none;
}

.area-expandida-4 {
    display: none;
}

.conteudo-area-expandida {
    display: none;
}

.area-expandida.active {
    background: #FBE8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #fc0505 solid;
    width: 100%;
    height: 1900px;
}

.area-expandida-2.active {
    background: #f20c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #fc0505 solid;
    width: 100%;
    height: 1900px;
}

.area-expandida-3.active {
    background: #32f20c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #fc0505 solid;
    width: 100%;
    height: 1900px;
}

.area-expandida-4.active {
    background: #2b349a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #fc0505 solid;
    width: 100%;
    height: 1900px;
}

.conteudo-area {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 20%;
}


.texto-expand {
    display: flex;
    text-align: center;
    width: 35%;
    flex-direction: column;
}

.video-orientacao iframe {
    border: #1C486F solid;
    margin-top: 50px;
    width: 885px;
    height: 500px;
}

/*Fim menu expandido*/

main {
    border: rgb(255, 0, 255) solid 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

#informacao {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px rgb(0, 132, 255) solid;
}

.bem-vindo {
    color: #1C486F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bem-vindo h2 {
    display: flex;
    justify-content: center;
}

#info {
    border: red solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

/*Fim Informações web*/

/*Commeço destaque web*/
.nomedistaque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 189, 89, 1);
    width: 100%;
    height: 60px;
}

.destaques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(28, 72, 111, 1);
}

#alinhamento-destaque {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 200px;
}

#destaque-img {
    display: flex;
    flex-direction: column;
}

.imgdest {
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 280px;
}

#carrosel-destaque {
    display: flex;
}

.Banner-destaque {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 300px;
}

.txt-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(28, 72, 111, 1);
    width: 400px;
    height: 280px;
}

/*Fim destaque web*/


/*Começo rodape*/
footer {
    display: flex;
    flex-direction: column;
    background: #1C486F;
    border: 1px solid red;
    height: 450px;
    width: 100%;

}

/*Fim rodape*/

/*Mobile*/
@media only screen and (max-width: 428px) {

    /*Config*/
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 100vw;

    }

    ul {
        list-style: none;
    }

    /*Config*/

    /*Commeço Hamburger*/
    .hamburger {
        display: block;
        border: none;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        display: block;
        width: 20px;
        height: 3px;
        background: #fff;
        margin-top: 5px;
        position: relative;
        transition: 0.2s;
    }

    .nav-active .hamburger {
        position: relative;
        top: 26px;
        right: 18px;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }

    .nav-list {
        position: fixed;
        top: 70px;
        left: -20px;
        width: 100%;
        height: 600px;
        background: #1C486F;
        clip-path: circle(100px at 100% -55%);
        transition: 0.5s ease-in-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        pointer-events: none;
    }

    .nav {
        background: #1C486F;
        width: 100vw;
    }

    .nav-list a {
        font-size: 20px;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    .nav.active .nav-list {
        clip-path: circle(1200px at 90% -15%);
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    /*Fim Hamburger*/

    /*Começo Banner superior*/
    .banner {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-banner {
        display: none;
    }

    .texto-banner {
        display: none;
    }

    div .seja-bem-vindo-banner img {
        width: 100%;
    }

    /*Fim Banner superior*/

    /*Começo Botoes acordeon*/
    #web-menu-acordeon {
        display: none;
    }

    #acordeon {
        border: 1px rgb(0, 255, 34) solid;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    #acordeon p {
        display: none;
        padding: 10px;
        text-align: center;
    }

    .banner-acordeon {
        display: flex;
        flex-direction: row;
        border: 1px rgb(0, 81, 255) solid;
        height: 75px;
        padding: 0px;
        align-items: center;
        background: #1C486F;
        margin-bottom: 5px;
    }

    .fundo-icone {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFBD59;
        width: 50px;
        height: 75px;
    }

    .fundo-triangulo-icone {
        width: 0;
        height: 0;
        border-top: 38px solid transparent;
        border-left: 25px solid #FFBD59;
        border-bottom: 38px solid transparent;
    }

    .icone-acordeon {
        margin-left: 5px;
        width: 45px;
        height: 45px;
    }

    .titulo-acordeon {
        display: flex;
        align-items: center;
        width: 300px;
        height: 40px;
        margin-left: 5px;
        color: white;
    }

    .more {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(164, 173, 40);
        width: 40px;
        height: 40px;
    }

    /*Fim Botoes acordeon*/

    /*Começo Informmações*/
    #pagina-principal {
        border: red 1px solid;
        height: 2500px;
    }

    #informacao {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px rgb(0, 132, 255) solid;
    }

    #info {
        display: flex;
        flex-direction: column;
    }

    .img-info {
        width: 100%;
    }

    #img1 {
        border: 1px solid red;
        height: 200px;
    }

    .bem-vindo {
        border: 1px red solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .bem-vindo h2 {
        display: flex;
        justify-content: center;
    }

    /*Fim Informações*/

    /*Começo destaque*/
    .nomedistaque {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(255, 189, 89, 1);
        margin-bottom: 30px;
        width: 100%;
        height: 50px;
    }

    .destaque {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .Banner-destaque {
        display: none;
    }

    #carrosel-destaque {
        border: red solid;
        display: flex;
        flex-direction: row;
        width: 400px;
        height: 400px;
    }

    .carousel-caption {
        display: flex;
        flex-direction: column;
        font-size: small;
    }

    /*Fim destaque*/


    /*Começo rodape*/
    footer {
        background: #1C486F;
        border: 1px solid red;
        height: 200px;

    }

    /*Fim rodape*/
}