@media only screen and (max-width: 428px) {


    body {
        background: rgb(207, 207, 207);
        
    }
    
    ul {
        list-style: none;
    }
    /*area de teste*/
    
    
    /*ate aqui*/
    #menu-superior {
        border: 1px rgb(0, 81, 255) solid;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    #perfil {
        width: 40px;
        height: 40px;
        border: 2px solid red;
    }
    
    #logo {
        width: 150px;
        height: 30px;
        border: 2px solid red;
    }
    
    #conteudo-navegacao {
        display: flex;
        flex-direction: row;
        border: 1px solid;
        
    }
    
    .menu {
        border: 1px solid red;
    }
    
    }
    
    #pagina-principal {
        border: red 1px solid;
        height: 2000px;
    }
    
    #banner {
        border: red 1px solid;
        height: 240px;
    }
    footer {
        border: 1px solid red;
        height: 200px;
    }