* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    color: #1C486F;
    width: 100vw;
    height: 100vh;
}

.sessao-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    background-color: #1C486F;
}

.logo-img {

    width: 80px;
    height: 70px;
}

.sessao-nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;

}

.sessao-nav li {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.sessao-nav li a {
    color: white;
}



.sobre-nos {
    display: flex;
    flex-direction: column;
}

.sobre-nos h1 {
    padding: 50px 50px 5px 50px;
    font-size: 3rem;
}

.content-sobre-nos {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}


.text-sobre-nos {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}

.text-sobre-nos p {
    font-size: 1.5rem;
    padding-top: 5px;
    line-height: 5;
}

.img-sobre-nos {
    width: 50%;
    height: 100vh;
    background-image: url('../Imagens_projeto/7.png');
    background-size: contain;
    background-repeat: no-repeat;

}






.sec-destaques {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.destaques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Defines 4 columns of equal width */
    gap: 20px;
    width: 80vw;
    height: 100vh;

}

.titulo-destaque {
    width: 100%;
    height: 3rem;
    background-color: #E8C25F;
    display: flex;
    justify-content: center;
    align-items: center
}

..destaques>h1 {
    font-size: 5rem;
}

.destaque-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.img-destaque {
    width: 100%;
    height: 80%;
    background-color: black;
}

.texto-destaque {
    width: 100%;
    height: 40%;
    background-color: #d3d3d3;
}