@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    vertical-align: baseline;
}

p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    font-size: 18px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}

div {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/*Web*/
#tamanhoTexto {
    display: none;
}

#tamanhoTexto.active {
    display: flex;
    position: fixed;
    margin-top: 45%;
    right: 3%;
    z-index: 2;
}

[type="range"] {
    transform: scale(1.5);
    appearance: none;
    border-radius: 5px;
    padding: 2px;
    background-color: #FFBD59;
    border: solid 1px #163958;
}

[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #1C486F;
}

/* botao play  - por padrão ele não é exibido*/
.ler-button {
    box-sizing: border-box;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    background-color: transparent;
    display: none;
}

/* botão play quando clicado se torna visivel */
.ler-button.play {
    display: block;
}

/* botao play quando for clicado  vira o stop*/
.ler-button.on {
    width: 74px;
    height: 74px;
    border-style: solid;
    border-width: 27px;
    border-color: transparent;
    background-color: #202020;
    transition: 400ms;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #163958;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
}

html {
    font-size: 62.5%;
}

/*Comerço barra navegação*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C486F;
    width: 100%;
    height: 90px;
    padding-inline: 2%;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between
}



.nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 60px;
}

.nav-list li {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.nav-list a:hover {
    color: #ffe159;
    text-decoration: none;
}

.nav-list-direita {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-list-direita li {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.nav-list-direita a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.nav-list-direita a:hover {
    color: #ffe159;
    text-decoration: none;
}


.logo {
    width: 120px;
    height: 60px;
}

.nav-direita {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

#Entrar {
    text-decoration: none;
    color: white;
}

#Entrar:hover {
    color: #ffe159;
}


.btn-accessibilidade {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: none;
    background: none;
}

.img-accessibilidade {
    width: 50px;
    height: 50px;
    transition: 0.1s ease-out;
}

.img-accessibilidade:hover {
    width: 45px;
    height: 45px;
    opacity: 100%;
    transition: 0.2s ease-in;
}




/*Começo Menu flutuante*/
.txtbtn1 {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 350px;
    padding-left: 50%;
    padding-bottom: 70%;
    justify-content: space-around;
    align-items: center
}

.txtmodoesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 500;
    height: 50px;
    width: 200px;
}

.sessao-nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #340505;
}

.logo-img {

    width: 80px;
    height: 70px;
}

.sessao-nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}

.sessao-nav li {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.sessao-nav li a {
    color: white;
}


.botoes-acessibilidade-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.botoes-acessibilidade-menu.active {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    pointer-events: fill;
}

.menu-acessibilidade.active {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 1%;
    top: 12%;
    width: 350px;
    height: 340px;
    background: #1C486F;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
}

/*Fim Menu flutuante*/
.hamburger {
    display: none;
    background: none;
    cursor: pointer;
}

/*Botao darkmode*/
#darkmode {
    width: 0;
    height: 0;
    visibility: hidden
}

#darktg {
    margin: 0;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 1s;
}

#darktg:after {
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-image: url('/src/assets/Icones_projeto/moon-svgrepo-com.svg');
    background-position: center center;
    background-size: cover;
}



#darkmode:checked+#darktg {
    background: #fff #3a3a3a;
}

#darkmode:checked+#darktg:after {
    left: 47px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    background-image: url('/src/assets/Icones_projeto/sun-svgrepo-com.svg');
    background-position: center center;
    background-size: cover;

}

/*Botao darkmode*/



/*Botao de narração*/
#narradortg {
    margin: 0;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #bebebe;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 1s;
}

#narradortg:after {
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #b80606, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-position: center center;
    background-size: cover;
}

#narrador {
    width: 0;
    height: 0;
    visibility: hidden
}

#narrador:checked+#narradortg:after {
    left: 47px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #447231);
    background-position: center center;
    background-size: cover;

}

/*Botao de narração*/



#darktg:active:after {
    width: 10px;
}

.btn-modo-dark {
    display: flex;
    align-items: center;
}

.btn-aumentar-texto {
    display: flex;
    align-items: center;
}

.btn-audio {
    display: flex;
    align-items: center;
}

/*Botao de ativar slider texto*/
#slidertextortg {
    margin: 0;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #bebebe;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 1s;
}

#slidertextortg:after {
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #b80606, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-position: center center;
    background-size: cover;
}

#slider-texto {
    width: 0;
    height: 0;
    visibility: hidden
}

#slider-texto:checked+#slidertextortg:after {
    left: 47px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #447231);
    background-position: center center;
    background-size: cover;

}

/*Botao de ativar slider texto*/




/* Estilos do layout da página */
.sec-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5px;
}


.main-SN {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
}

.titulo-SN {
    font-size: 3rem;
    padding: 20px;
}


.texto-SN {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-SN p {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.5em;
}

.texto2-SN {
    width: 85%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;

}

.texto2-SN p {
    font-size: 2rem;
    text-align: justify;
    line-height: 1.5em;

}



.img-SN {
    width: 100%;
    display: flex;
    padding-bottom: 30px;

}

.img-SN img {
    width: 100%;
    height: 100%;
}

#fig-dev {
    width: 90%;
}


.container-pessoas {
    display: flex;
    justify-content: center;
}

.pessoas {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Defines 4 columns of equal width */
    gap: 20px;
    width: 80vw;
    height: 50vh;

}

.pessoas-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 250px;
    border: 5px solid black;
}

.icones-redes-sobrenos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

#instragram-sobrenos {

    width: 3vw;
    height: 4vw;
    background-image: url(/src/assets/Icones_projeto/instagram-svgrepo-com.svg);
    background-size: 100% 100%;
    cursor: pointer;

}

#facebook-sobrenos {
    width: 3vw;
    height: 4vw;
    background-image: url(/src/assets/Icones_projeto/facebook-svgrepo-com.svg);
    background-size: 100% 100%;
    cursor: pointer;
}

#twiiter-sobrenos {
    width: 3vw;
    height: 4vw;
    background-image: url(/src/assets/Icones_projeto/twitter-svgrepo-com.svg);
    background-size: 100% 100%;
    cursor: pointer;
}

/* ----------------------Início dark-mode---------------------- */

body.dark-mode {
    background-color: #222222;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode header {
    background-color: #15131b;
    color: #ffffff;
}

.dark-mode .menu-acessibilidade.active {
    color: #ffffff;
    background-color: #15131b;
}



@media only screen and (max-width: 884px) {

    /*Começo Hamburger*/
    .hamburger {
        display: block;
        padding: 5px;
        border: none;
    }

    .img-hamburger {
        width: 30px;
        height: 30px;
    }


    .nav-active .hamburger {
        position: relative;
        top: 26px;
        right: 18px;
    }




    .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0px;
        top: 6.2%;
        width: 350px;
        height: 550px;
        background: #1C486F;
        clip-path: circle(100px at 100% -55%);
        transition: 0.5s ease-in-out;
        padding: 5%;
        flex-direction: column;
        pointer-events: none;
        border-bottom-left-radius: 25px;
        gap: 60px;
        margin: 0;
    }

    .dark-mode .nav-list {
        background-color: #000000;
    }

    .nav {
        display: flex;
        flex-direction: row;
        width: 1440px;
        justify-content: end;
        padding-inline-end: 20px;
    }

    .nav-list li {
        width: 260px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .nav-list a {
        display: flex;
        text-decoration: none;
        color: #fff;
        align-items: center;
        justify-content: center;
    }

    .nav-list a:hover {
        color: #ffe159;
        text-decoration: none;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    .nav.active .nav-list {
        clip-path: circle(900px at 90% -15%);
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

/* Fim Hamburger */


.texto-SN{
    width: 95%;
}



}