* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: #1C486F;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #163958;    
  }



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C486F;
    width: 100%;
    height: 90px;
    padding-inline: 140px;
}

.nav-list a {
    font-size: 20px;
}


.nav {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 100vw;
}

.logo {
    width: 120px;
    height: 60px;
}

.nav-list {
    display: flex;
    gap: 60px;
    margin-left: 20px;
    list-style: none;
    margin-top: 20px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    color: #ffe159;
    text-decoration: none;
}

.area-acessibilidade {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    width: 300px;
}

.btn-accessibilidade {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
   border: none;
    background: none;
}

.img-accessibilidade {
    width: 50px;
    height: 50px;
    opacity: 50%;
    transition: 0.1s ease-out;
}

.img-accessibilidade:hover {
    width: 45px;
    height: 45px;
    opacity: 100%;
    transition: 0.2s ease-in;

}

/*Começo Menu flutuante*/
.botoes-acessibilidade-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: 200px;
}


.botoes-acessibilidade-menu.active {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    pointer-events: fill;
}



.menu-acessibilidade.active {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 1%;
    top: 12%;
    width: 350px;
    height: 240px;
    background: #1C486F;
    border-radius: 5px;
    transition: 0.2s ease-in;
    pointer-events: none;
    z-index: 1;
}

.abutton-login{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #163958;
    height: 100px;
    width: 200px;
    border: none;
    padding: 30px;
}

.abutton-login:hover{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    border: none;
    padding: 30px;
    color:#ffe159;
    transition: 0.5s;
}

/*Fim Menu flutuante*/
.hamburger {
    display: none;
    background: none;
    cursor: pointer;
}





.container-login {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}

.box-img {
    width: 70vw;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(rgba(28, 72, 111, 0.8), rgba(28, 72, 111, 0.8)), url(../Imagens_projeto/2.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-img>h1 {
    color: white;
    font-size: 5rem;
    margin-left: 150px;
    margin-top: 200px;
    font-weight: lighter;

}

.box-img>h1>span {
    font-weight: 900;
}


.box-side-bar {
    width: 30%;
    height: 100%;
    background-color: #FFBD59;
}

.box-login {
    width: 410px;
    height: 75%;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* Habilita posicionamento absoluto */
    top: 55%;
    /* Posiciona verticalmente em 50% */
    left: 73%;
    /* Posiciona horizontalmente em 50% */
    transform: translate(-50%, -50%);
    /* Centraliza a div */
    background-color: white;
    border-top-right-radius: 200px;
}

.box-login>h1 {
    letter-spacing: 1px;
    padding-top: 100px;
    padding-left: 40px;
    font-size: 3.5rem;

}

.box-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.container-credenciais {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    font-size: 1rem;
}

#username {
    width: 300px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #1C486F;
    padding: 10px;
}

#password {
    width: 300px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #1C486F;
    padding: 10px;

}

.box-btn {
    width: 110px;
    height: 75px;
    margin-top: 20%;

}

#btn-entrar {
    width: 110px;
    height: 75px;
    border: none;
    border-radius: 20px;
    background-color: #FFBD59;
    background-image: url(../Icones_projeto/11.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.label-login {
    font-size: 1.5rem;
    padding: 10px;
}





@media (max-width: 1020px) {
    header {
        height: 70px;
    }

    .box-img>h1 {
        margin-left: 80px;
        font-size: 4rem;
    }

    .container-credenciais {
        padding-top: 55px;
    }
}

@media (max-width: 978px) {
    .nav-list a {
        font-size: 1.1rem;
    }

    header {
        padding-right: 50px;
    }

    .nav-list {
        gap: 40px;
    }

}


@media(max-width: 831px) {
    .box-img>h1 {
        margin-left: 30px;
        margin-top: 130px;
        font-size: 3rem;
    }

    .box-login {
        width: 310px;
        height: 65%;
    }

    .box-login>h1 {
        padding-top: 70px;
        font-size: 3rem;
    }

    .box-form {
        width: 80%;
    }

    .container-credenciais {
        width: 100%;
        padding-top: 50px;
    }

    #username {
        width: 270px;
    }

    #password {
        width: 270px;
    }

    .box-btn {
        width: 90px;
    }

    #btn-entrar {
        width: 90px;
        height: 75px;
    }

    .label-login {
        font-size: 1.4rem;
    }

}

@media(max-width: 595px) {
    header {
        padding-left: 15px;
    }

    .container-login {
        display: flex;
        flex-direction: row;
        width: 100v;
        height: 100vh;

    }

    .box-img {
        width: 90vw;
        height: 100vh;
        display: flex;
        background-image: linear-gradient(rgba(28, 72, 111, 0.8), rgba(28, 72, 111, 0.8)), url(../imagens/sorrindo-coroa.png);
        background-position: initial;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .box-img>h1 {
        font-size: 3rem;
        margin-left: 30px;
        margin-top: 100px;
        font-weight: lighter;

    }



    .box-side-bar {
        width: 10%;
        height: 100%;
        background-color: #FFBD59;
    }

    .box-login {
        width: 310px;
        height: 65%;
        position: absolute;
        /* Habilita posicionamento absoluto */
        top: 100%;
        /* Posiciona verticalmente em 50% */
        left: 73%;
        /* Posiciona horizontalmente em 50% */
        transform: translate(-100%, -100%);
        /* Centraliza a div */
        background-color: white;
        border-top-right-radius: 200px;
    }

    .box-login>h1 {
        letter-spacing: 1px;
        padding-top: 60px;
        padding-left: 40px;
        font-size: 3rem;

    }


    .container-credenciais {
        width: 100%;
        padding-top: 55px;
        font-size: 1rem;
    }

    #username {
        width: 230px;
    }

    #password {
        width: 230px;
    }

    .box-btn {
        width: 110px;
        height: 75px;
        margin-top: 20%;

    }

    #btn-entrar {
        width: 60px;
        height: 50px;
        border: none;
        border-radius: 20px;

    }

    .label-login {
        font-size: 1.5rem;
        padding: 10px;
    }


}


@media (max-width:478px) {
    .box-login {
        width: 478px;
        height: 65%;
        position: absolute;
        /* Habilita posicionamento absoluto */
        top: 100%;
        /* Posiciona verticalmente em 50% */
        left: 73%;
        /* Posiciona horizontalmente em 50% */
        transform: translate(-100%, -100%);
        /* Centraliza a div */
        background-color: white;
        border-top-right-radius: 200px;
    }

}


#darktg {
    margin: 0;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), 
    inset 0px -5px 15px rgba(255, 255, 255, 0.4 );
    cursor: pointer;
    transition: 1s;
}

#darktg:after{
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-image: url('/src/assets/Icones_projeto/moon-svgrepo-com.svg');
    background-position: center center;
    background-size: cover;
}

#darkmode{
    width: 0;
    height: 0;
    visibility: hidden
}

#darkmode:checked + #darktg {
    background: #fff #3a3a3a;
}

#darkmode:checked + #darktg:after{
    left: 47px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    background-image: url('/src/assets/Icones_projeto/sun-svgrepo-com.svg');
    background-position: center center;
    background-size: cover;
    
}

#darktg:active:after{
    width: 10px;
}

.btn-modo-dark{
}

.btn-aumentar-texto{
   
}

.btn-audio{

}

#darktg2 {
    margin: 0;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), 
    inset 0px -5px 15px rgba(255, 255, 255, 0.4 );
    cursor: pointer;
    transition: 1s;
}

#darktg2:after{
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-position: center center;
    background-size: cover;
}

#darkmode2{
    width: 0;
    height: 0;
    visibility: hidden
}

#darkmode2:checked + #darktg2 {
    background: #fff #3a3a3a;
}

#darkmode2:checked + #darktg2:after{
    left: 47px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    background-position: center center;
    background-size: cover;
    
}

#darktg2:active:after{
    width: 10px;
}