body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid red;
}

nav li {
    display: inline-block;
    margin: 10px;
    border: 1px solid red;
}

nav a {
    text-decoration: none;
    color: #333;
    
}



destaque {
    border: 1px solid red;
}


/*Inicio menu superior*/
#logo {
    width: 150px;
    height: 50px;
    border: 1px solid blue;
}

#menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid blue;
}

#lado-esquerdo {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
}

#lado-direito {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
}
/*Fim menu superior*/

#banner {
    height: 300px;
    background: gray;
}
#placeholder {
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 10px;
    border: 1px solid blue;
}


@media only screen and (max-width: 428px) {

}